# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Vim temp files
*.swp
*.swo
*.swx
*.un~

# Python venv stuff
venv/
.venv/
venv2/
.venv2/

# Project specific files
downloads/
png_output/
transcriptions/
